<ul class="article-list">
  <% articles.forEach(function(article){ %>
    <li>
      <h2><a href="<%= article.outputUrl %>"><%= article.title %></a></h2>
      <span class="show-time"><%- article.showTime %></span>
      <div class="hr"></div>
      <p><%- article.contentPart %></p>
    </li>
    
  <% }); %>
  
</ul>
<% if(pageN > 1) { %>
<ul class="paging">
  <% for(var i = 1; i <= pageN; i++) { %>
    
    <%  var href;
    if (currentPageN === 0 ) {
        if (type && type === 'one') {
            href = i === 1 ? 'index.html' : '../' + i;
        } else {
            href = i === 1 ? 'index.html' : 'page/' + i;
        }
    } else {
        if (type && type === 'one') {
            href = '../' + i;
        } else {
            href = i === 1 ? '../../index.html' : '../' + i;
        }
    }
    %>
    <% if(i === currentPageN + 1) { %>
      <li class="paging--number active"><a href="<%= href %>"><%= i %></a></li>
    <% } else { %>
      <li class="paging--number%>"><a href="<%= href %>"><%= i %></a></li>
    <% } %>
  <% } %>
</ul>
<% } %>
