<div class="slide-tag <%if (type) {%> <%= type %> <% }%>">
  <div class="toggle-button">
    <a href="javascript:;" class="slide-button"><i class="fa fa-bars" aria-hidden="true"></i></a>
  </div>
  
  <ul>
    <% if (type !== 'slide-tag-index') {%>
    <li class="index" title="<%= LANG.index %>">
      <a href="/" class="slide-button"><i class="fa fa-home" aria-hidden="true"></i></a><span><%= LANG.index %></span>
    </li>
    <% } %>
    <li title="<%= LANG.allarticle %>">
      <a href="/page/1/index.html" class="slide-button"><i class="fa fa-list-alt" aria-hidden="true"></i></a><span><%= LANG.allarticle %></span>
    </li>
    <li title="<%= LANG.category %>">
      <a href="/category/index.html" class="slide-button"><i class="fa fa-list-ol" aria-hidden="true"></i></a><span><%= LANG.category %></span>
    </li>
    <% if (type === 'slide-tag-article') {%>
      <li title="<%= LANG.uplevel %>">
        <a href="./index.html" class="slide-button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a><span><%= LANG.uplevel %></span>
      </li>
    <% } %>
    <li title="<%= LANG.aboutme %>">
      <a href="http://cfw.io" class="slide-button"><i class="fa fa-user" aria-hidden="true"></i></a><span><%= LANG.aboutme %></span>
    </li>
  </ul>
</div>
